/* Primary */
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

/* Neutral color */
$dark_Blue: hsl(249, 10%, 26%);
$grayish_Blue: hsl(246, 25%, 77%);

/* Accent */
$blue: hsl(248, 32%, 49%);
$grey: hsla(249, 10%, 26%, 0.479);
